# Node.js
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Environment variables
.env

# Logs
*.log
logs/
logs/*

# IDEs/Editors
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Windows
Thumbs.db

# Build artifacts
dist/
build/
